SUPABASE_URL=url
SUPABASE_ANON_KEY=key

SPOTIFY_CLIENT_ID=id
SPOTIFY_CLIENT_SECRET=secret

CLOUDINARY_CLOUD_NAME=name
CLOUDINARY_API_KEY=key
CLOUDINARY_API_SECRET=secret
CLOUDINARY_UPLOAD_PRESET=preset
